.nav-link {
  color: $light;
  &:hover {
    color: $light;
    text-decoration: none;
  }
  &:focus {
    color: $light;
    text-decoration: none;
  }
  &.disabled {
    color: $light;
    font-weight: bolder;
  }
}
