@import url("https://use.typekit.net/kuo1xhg.css");

h1 {
  font-family: gimlet-display, serif;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}
