// scss-docs-start theme-color-variables
$primary: #b8d1f3;
$secondary: #507bb7;

h1 {
  font-family: maple-web, serif;
}

.maxW {
  max-width: 1800px;
}

// Navbar
i {
  font-size: 1.3rem;
  color: #000;
}

.wallPost {
  background-color: #fff;
  height: 60px;
}

.profilePic {
  width: 100px;
  height: 100px;
}

.friendPic {
  width: 140px;
}

// Small image on card
.postImg {
  width: 50px;
  height: 50px;
}

.borderREMOVE {
  border: 2px solid green;
}

#homePage {
  ::placeholder {
    text-align: center;
  }
}

.editMedia {
  width: 100px;
}
