@import "variables.scss";
@import "buttons.scss";
@import "reboot.scss";
@import "utilities.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "navbar.scss";
@import "nav.scss";

h1 {
  font-size: 1.6rem;
}

// Navbar
#logout {
  cursor: pointer;
}

i {
  font-size: 1.3rem;
  color: $light;
}

// Images
.profilePic {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center center;
}

.friendPic {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center center;
}

#bannerContainer {
  max-height: 200px;
  object-fit: cover;
  object-position: center center;
}

#avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center center;
}

.card-img {
  height: 200px;
  object-fit: cover;
  object-position: center center;
}

.card {
  i {
    color: $primary;
  }
}

.reactEmoji {
  font-size: 1rem;
}

.formError {
  display: none;
  color: #b73b71;
}

.errorMessage {
  display: none;
}

.regCheck {
  font-size: 1rem;
}

// Loader
.loader-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $primary;
  animation: loader-grid 1.2s linear infinite;
}
.loader-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.loader-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.loader-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.loader-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.loader-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.loader-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.loader-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.loader-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.loader-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes loader-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

// Register spinner
.regLoader {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.regLoader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $primary;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.regLoader div:nth-child(1) {
  left: 8px;
  animation: regLoader1 0.6s infinite;
}
.regLoader div:nth-child(2) {
  left: 8px;
  animation: regLoader2 0.6s infinite;
}
.regLoader div:nth-child(3) {
  left: 32px;
  animation: regLoader2 0.6s infinite;
}
.regLoader div:nth-child(4) {
  left: 56px;
  animation: regLoader3 0.6s infinite;
}
@keyframes regLoader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes regLoader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes regLoader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
